#findusat_map { color: #ff0000; }

#locations_info { margin-top: 50px; }
#findusat_locations { margin-top: 50px; }
#findusat_locations li { margin-left: 0px; }
#findusat_locations li ul li { list-style: none; }
#findusat_locations li ul { margin-bottom: 25px; }
#findusat_locations li ul li h2 { padding-bottom: 10px; }
#findusat_locations li ul li h2 a { padding-left: 0; }
#findusat_locations li ul li a { padding-left: 20px; }
#findusat_locations li ul li h2 a:link,
#findusat_locations li ul li a:link,
#findusat_locations li ul li h2 a:visited,
#findusat_locations li ul li a:visited { text-decoration: none; }
#findusat_locations li h2 a:hover,
#findusat_locations li ul li a:hover,
#findusat_locations li h2 a:active,
#findusat_locations li ul li a:active { text-decoration: underline; }